<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bdkj_website.mapper.InformationMapper">
  <resultMap id="BaseResultMap" type="com.example.bdkj_website.entity.Information">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="WEB_SITE" jdbcType="VARCHAR" property="webSite" />
    <result column="IMAGE" jdbcType="VARCHAR" property="image" />
    <result column="ATT1" jdbcType="VARCHAR" property="att1" />
    <result column="ATT2" jdbcType="VARCHAR" property="att2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, TITLE, CONTENT, WEB_SITE, IMAGE, ATT1, ATT2
  </sql>
  <select id="selectByExample" parameterType="com.example.bdkj_website.entity.InformationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from information
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from information
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.bdkj_website.entity.InformationExample">
    delete from information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.bdkj_website.entity.Information">
    insert into information (ID, TITLE, CONTENT, 
      WEB_SITE, IMAGE, ATT1, 
      ATT2)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{webSite,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{att1,jdbcType=VARCHAR}, 
      #{att2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.bdkj_website.entity.Information">
    insert into information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="webSite != null">
        WEB_SITE,
      </if>
      <if test="image != null">
        IMAGE,
      </if>
      <if test="att1 != null">
        ATT1,
      </if>
      <if test="att2 != null">
        ATT2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="webSite != null">
        #{webSite,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="att1 != null">
        #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        #{att2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.bdkj_website.entity.InformationExample" resultType="java.lang.Long">
    select count(*) from information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update information
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.webSite != null">
        WEB_SITE = #{record.webSite,jdbcType=VARCHAR},
      </if>
      <if test="record.image != null">
        IMAGE = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.att1 != null">
        ATT1 = #{record.att1,jdbcType=VARCHAR},
      </if>
      <if test="record.att2 != null">
        ATT2 = #{record.att2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update information
    set ID = #{record.id,jdbcType=INTEGER},
      TITLE = #{record.title,jdbcType=VARCHAR},
      CONTENT = #{record.content,jdbcType=VARCHAR},
      WEB_SITE = #{record.webSite,jdbcType=VARCHAR},
      IMAGE = #{record.image,jdbcType=VARCHAR},
      ATT1 = #{record.att1,jdbcType=VARCHAR},
      ATT2 = #{record.att2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.bdkj_website.entity.Information">
    update information
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="webSite != null">
        WEB_SITE = #{webSite,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        IMAGE = #{image,jdbcType=VARCHAR},
      </if>
      <if test="att1 != null">
        ATT1 = #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        ATT2 = #{att2,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.bdkj_website.entity.Information">
    update information
    set TITLE = #{title,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      WEB_SITE = #{webSite,jdbcType=VARCHAR},
      IMAGE = #{image,jdbcType=VARCHAR},
      ATT1 = #{att1,jdbcType=VARCHAR},
      ATT2 = #{att2,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>